*,
*::after,
*::before{
    font-family: 'sans-serif';
    box-sizing: border-box;
    font-size: 16px;
}
.main-content{
    padding: 20px
}
.box{
    background-color: tomato;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px lightgrey;

}
.author{
    font-style: italic;
}
